html{
    height:100%;
}

body{
    background-color:#f7f9fa;
    width: 100%;
    animation-name: colorchange;
    animation-duration: 6000ms;
    animation-timing-function: ease-in-out;
}

@keyframes colorchange{
    from {background-color:#04285c}
    to {background-color:#f7f9fa}
}

.container{
 width: 70%; 
 margin-left: 20%;
 margin-right: auto;  
 position: relative;
}

header{  
    display: flex; 
    width: 100%;
    height: 40px;
    background:linear-gradient(#04285c,#4487e4);
    background-color: #04285c;
    color:#f0f5f8;    
    justify-content: flex-start;
    align-items: top;
    flex-direction: row;
    flex-wrap: wrap;
}

input[type=radio]{
    margin-left: 10px;
}

.logoimgcontainer{
    width: 80px;
    height: 60px;
    vertical-align: middle;
}

#logoimg{
    display: inline-block;
    width: 40px;
    height: 35px; 
    margin-left: 10px;
    border:1px solid #7db2fc;
    border-radius: 4px;
    vertical-align: middle;   
}

#pageloadvid {
    position: fixed;    
    top:0;
    width: 100%    !important;
    height: 100%   !important;
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
    z-index: 1;  
    padding:0;  
}

#htitle{
    width:80px;
    display: inline-block;    
    font-size: 20px;
    width:50Px;
    margin-right: 30px;   
}

.search-container{  
    background-color: #4487e4;
    height: 40px;
}

#units{
    position: relative;
    font-size: 15px;
    margin:0 0;
    padding:0 0;    
    height: 20px;
    background-color: #6c757d;
    color:#7db2fc;
    font-weight: 400;
}

.search-container form{
    position: relative;
    width: 70%;
    left:50%;
    margin-left: -25%;
    margin-right: auto;
}

#search,datalist{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    border:none;
    outline:none
}

#searchIconButton{
    color:blue;
    background-color: black;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    border:none;
    outline: none;
}

.recentSearches{
    background-color: black;
    color:#7db2fc;
    height:45px; 
    display:flex;
    align-items: center;    
}

#btnLeft,#btnRight{
    margin-left:5px;
    margin-right:5px;
}

aside{
    position: absolute;
    width:20%;
    height: 100%;
    margin-left: 10px;
    margin-top:10px;
    float: left;
}

#searchHistoryNavPills{
    display: inline-block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.SearchHistorydiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:80%;
    border:2px #007bff solid;
    color:black;
    margin:4px;
    border-radius: 10px;
    background-color: #007bff;  
}

.SearchHistorydiv .btn-sm{
    width:70%;
    font-size: 12px;
}

.removebtn{
    border:1px solid whitesmoke;
    border-radius: 50%;
    margin:4px;
    color:whitesmoke;    
}

#searchHistoryNavPills .btn-sm{
    height:30px;
   width:100% !important;
   text-align:center;
   padding-top: 0;
}

#messagediv{
    width: 50%;
    height: 60px;
    background-color: #6c757d;
    color:brown;
    display: none;
    position: absolute;
    top:90px;    
    text-align: center;
    left:50%;
    margin-left: -25%; 
    font-weight: 400;
}

#forecastCardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cityInfo{
    display: none;
}

.card-img-top{
    height: 40px;
    width:40px;
}

.card{
    background-color: #007bff;
    margin-top:40px;
}

.smallcard{
    width:178px;
    margin:5px;
    color:whitesmoke;
    font-size:12px;
}

.card-header{
    background-color: #007bff;
    color:whitesmoke;
    text-align: center;
}


@media only screen and (max-width:767px){
    #search,datalist{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    aside{
        display: none;
    }

    .container{
        width: 90%; 
        margin-left: auto;
        margin-right: auto;  
        position: relative;
    }
}


